@page {
    size: A4;
    margin: 1cm;
}

@media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }

    section,img {
        page-break-inside: avoid;
    } 

    body>*:not(main) {
        display: none;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: "(" attr(href) ")";
    }

    .button-group,
    .media__image-wrapper,
    .advantage__image-wrapper {
        display: none;
    }

    .accordion__arrow {
        display: none;
    }

    .accordion__body {
        max-height: initial;
    } 
}