@use '../abstract/colors' as b;

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: b.$black-color;
    margin: auto 0;
    width: 100%;
    top: 0;
    height: 100px; 
    &__name{
        font-weight: 800;
        font-size: 18px;
        text-decoration: none;
        color: b.$orange-color;
    }
}

.menu {
    display: block;
    &__catalog{
        display: flex;
        list-style: none;
    }
    &__link{
        padding-left: 18px;
        text-decoration: none;
        color: b.$white-color;
        display: inline;
        padding-bottom: 4px;
    }
}
