%flexss {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
%text-vid {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}