@use '../abstract/placeholders' as *;
@use '../abstract/colors' as b;
.contacts{
    @extend %flexss;
    background-color: b.$green-color;
    min-height: 70vh;
    padding-top: 100px;
    padding-bottom: 100px;
    &__name{
        font-size: 70px;
    }
    
}

.contact{
    width: 920px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-row-gap: 20px;
    padding: 20px;
    margin: 30px auto 30px;
    justify-items: center;
}